* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    background-color: #333;
    overflow:hidden;

    /*background-size: cover;*/
}

.container {
    /*margin: auto;*/
    background-color: #333;
    width: 100%;
}

#canvas_wrap {
    height: 80vh;
    background-color: #d3f7ff;

}

/* Для мобильных устройств */
/*@media (min-width: 600px) {*/
/*    #canvas_wrap {*/
/*        !*width: 100%;*!*/
/*        background-color: #55ff00;*/
/*    }*/
/*}*/
/* Для планшетов и более крупных мобильных устройств */
@media (min-width: 600px) {
    #canvas_wrap {
        max-width: 600px;
        margin: 0 auto;
    }
}

.button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
}

button:hover::before, button:focus::before {
    opacity: 1;
}

button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}
/*Для компьютера*/





/*@media screen and (min-width: 1800px) {*/
/*    .container {*/
/*        padding-left: 20%;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 350px) {*/
/*    .container {*/
/*        max-width:100%;*/
/*        background-color: #d3f7ff;*/

/*    }*/
/*}*/
/*@media screen and (min-width: 600px) {*/
/*    .container {*/
/*        padding-left: 10%;*/
/*        padding-right: 10%;*/
/*    }*/
/*}*/
/*#canvas_wrap{*/
/*    background-color: #d3f7ff;*/
/*    !*max-width: 1900px;*!*/
/*    height: 100vh;*/
/*}*/

/*@media screen and (max-width: 600px) {*/
/*    canvas {*/
/*        max-width: 100%;*/
/*    }*/
/*}*/
