* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    background-color: #333;
    overflow:hidden;

    /*background-size: cover;*/
}

.container {
    /*margin: auto;*/
    background-color: #333;
    width: 100%;
}

#canvas_wrap {
    height: 100vh;
    background-color: #d3f7ff;

}

/* Для мобильных устройств */
/*@media (min-width: 600px) {*/
/*    #canvas_wrap {*/
/*        !*width: 100%;*!*/
/*        background-color: #55ff00;*/
/*    }*/
/*}*/
/* Для планшетов и более крупных мобильных устройств */
@media (min-width: 600px) {
    #canvas_wrap {
        max-width: 600px;
        margin: 0 auto;
    }
}

/*Для компьютера*/





/*@media screen and (min-width: 1800px) {*/
/*    .container {*/
/*        padding-left: 20%;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 350px) {*/
/*    .container {*/
/*        max-width:100%;*/
/*        background-color: #d3f7ff;*/

/*    }*/
/*}*/
/*@media screen and (min-width: 600px) {*/
/*    .container {*/
/*        padding-left: 10%;*/
/*        padding-right: 10%;*/
/*    }*/
/*}*/
/*#canvas_wrap{*/
/*    background-color: #d3f7ff;*/
/*    !*max-width: 1900px;*!*/
/*    height: 100vh;*/
/*}*/

/*@media screen and (max-width: 600px) {*/
/*    canvas {*/
/*        max-width: 100%;*/
/*    }*/
/*}*/
